@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


* {
    font-family: 'Alata', sans-serif;
    box-sizing: border-box;
}

.hidden{
    display: none;
}

header {
    @include flex-center();
}

.container{
    width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
}

#bookshelf{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 10px;

    .bookCover{
        position: relative;
        padding: 10px;
        border: 1px solid black;
        height: 100%;
        width: 70%;
    }
}


.readStatus{
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 2px;

    :hover{
        background-color: green;
    }
    
}